@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: black;
}

.rowname {
    color:rgb(62, 61, 61);
    margin-left: 35px;
    padding-top: 40px;
    overflow-x: scroll;
    width: flex;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 14px;
    font-style: normal;
}

img{
    width: 5rem;
    height: 22rem;
}

.card-wrap{
    display: flex;
    justify-content: space-evenly;
    margin-block: 50px;
}

.card{
    display: flex;
    /* flex-direction: column;
    /* box-shadow: rgb(202, 202, 202) 0px 3px 5px; */
    transition: transform 500ms;
    background-color: black;
    color: white;
}

.card:hover{
    transform: scale(1.1);
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.time-button{
    display: flex;
    gap:5px
}
.navbar{
    background-color: #000000;
    margin-bottom: 50px;
}
.nav-link  {
    color: white;
}

.navbar-brand{
    color: aliceblue;
}